static/data.dtd

<!ELEMENT tools (tool+)>
<!ELEMENT tool (category,name,url, web_based,type,free,description,added_on, image_logo)>
<!ATTLIST tool temp_id CDATA "0">
<!ELEMENT category (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT web_based (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT free (#PCDATA)>
<!ELEMENT image_logo (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT added_on (#PCDATA)>
